body {
  font-family: sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.userButton {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* FORM INPUT FORMATTING */

.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 240px;
}

input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

label {
  font-size: 12px;
  color: gray;
}

span {
  font-size: 12px;
  padding: 3px;
  color: black;
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
}

.categoryButton {
  background-color: #bbbbbb;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  margin: 0 0.3em 0.3em 0;
  font-size: 16px;
}

.Selected {
  background-color: #3aae3eb5;
}

.ComponentContainer {
  font-family: sans-serif;
  text-align: center;
  z-index: -1;
}
/* .ComponentContainer button {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;

  padding: 13px 29px;
  font-size: 1rem;
  font-weight: bold; */
/* border-radius: 5px; */
/* border: none;
  outline: none;
  background: crimson;
  color: white;
  cursor: pointer;
} */
#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.container .modal {
  z-index: 77;
  width: 90vw;
  height: 90vh;
  max-width: 800px;
  /* max-height: 100%; */
  overflow-y: auto;
  background: white;
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
}
.modalCloseButton {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 8px 11px;
  background: rgb(240, 150, 91);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.infoWindowButton .topRight {
  z-index: 1;
  position: relative;
  bottom: 10vh;
  left: 10vw;
  padding: 8px 11px;
  background: rgb(96, 240, 91);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.infoWindowButton {
  z-index: 1;
  position: fixed;
  bottom: 2.5vh;
  right: 2.5vh;
  padding: 8px 11px;
  background: rgb(240, 150, 91);
  color: whitesmoke;
  font-size: larger;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

/* .urbanSafariLogo {
  z-index: 2;
  position: fixed;
  top: 300px;
  right: 300px;
  padding: 8px 11px;
  background: rgb(240, 150, 91);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
} */

@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
