body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.userButton {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* FORM INPUT FORMATTING */
/* input {
  display: inline-block;
} */
/*
input[type='datetime-local'] {
  width: 100px;
} */

.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 240px;
}

input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

label {
  font-size: 12px;
  color: gray;
}

span {
  font-size: 12px;
  padding: 3px;
  color: black;
  display: none;
}

input:invalid[focused='true'] {
  border: 1px solid red;
}

input:invalid[focused='true'] ~ span {
  display: block;
}

.categoryButton {
  background-color: #bbbbbb;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  font-size: 16px;
}

.Selected {
  background-color: #4caf50;
}
